doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    // script(src='/javascripts/kinetic-v4.4.0.min.js')
    script(src='/javascripts/kinetic-v4.0.0-957c802ac24769c3f4f15c06d1bb3d48174c6a8a.js')
    // script(src='/javascripts/rect.js')
    script(src='/javascripts/sprite.js')