doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
    // script(src='javascripts/three.tutorial.js')
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/three.min.js')
    script(src='/javascripts/game.js')
    // script(src='/javascripts/index.js')
    // script(src='javascripts/curves.js')
    // script(src='javascripts/paths.js')